body {
  /* zero out padding and margin */
  margin: 0;
  padding: 0;
}

.parallax div {

  /* remove horizontal scroll */
  overflow-x: hidden;

  display: block;

  background-attachment : fixed;
  background-position: 50% 50%;

  /* Set image to always fill background */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Preserve aspet ratio when zooming in/out */
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#content {
}

#titlepage {

  height: 780px;

  background: url('luckycow.jpg');
  background-attachment : fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#titlepage h1 {

  width: 75%;
  padding: 5px 10px;
  background-color:rgba(255, 0, 0,0.75);
  letter-spacing:5px;
  font-size: 35pt;
  font-weight: bold;
  color:white;
  text-align: center;
}


/* #titlepage:hover { */
/*     margin-left: -20px; */
/*     margin-top: -1px; */
/*     height:480px; */
/*     width: 640px; */
/*     background: url('welcome.png'); */
/* } */

#aboutpage {

  /* Dimensions of image */
  height:1280px;
  width: 1920px;

  /* Background image */
  background-image: url('bg1.jpg');
}

#travelpage {

  /* Dimensions of image */
  height:1280px;
  width: 1920px;

  /* Background image */
  background-image: url('about.jpg');
}

#attractionpage {

  /* Dimensions of image */
  height:1280px;
  width: 1920px;

  /* Background image */
  background-image: url('bg2.jpg');
}
